<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.haseef4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Haseef4">
        <activity android:name=".displayProducts.productfragmentStaff3"
            tools:ignore="Instantiatable"/>
        <activity android:name=".displayProducts.productfragmentStaff2"
            tools:ignore="Instantiatable"/>
        <activity
            android:name=".displayProducts.productfragmentStaff1"
            tools:ignore="Instantiatable" />
<!--        <activity android:name=".notifaction_Arduino"-->
<!--            tools:ignore="Instantiatable"/>-->
        <activity android:name=".displayProducts.editProduct" />
        <activity android:name=".displayProducts.product_Staff" />
        <activity android:name=".notification" />
        <activity android:name=".addStaff" />
        <activity android:name=".editStaff" />
        <activity android:name=".setting" /> <!-- <activity -->
        <!-- android:name=".displayRestock.restock" -->
        <!-- /> -->
        <!-- // android:label="@string/title_activity_restock" -->
        <activity android:name=".displayProducts.product" />
        <activity android:name=".displayRestock.restock" />
        <activity
            android:name=".displayProducts.productfragment2"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".displayProducts.productfragment3"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".displayRestock.restockfragment1"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".displayRestock.restockfragment2"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".displayRestock.restockfragment3"
            tools:ignore="Instantiatable" />
        <activity android:name=".popUpWindow" />
        <activity android:name=".statistic" />
        <activity android:name=".StaffHome" />
        <activity android:name=".AdminHome" />
        <activity android:name=".Login" />
        <activity android:name=".displayStaff" />
        <activity android:name=".addproducts" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>